@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lobster&family=Nanum+Myeongjo&family=Noto+Sans+KR:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #F0F2F5;
}

div{
    display: block; 
    flex-direction: column;
    text-align: center;
}

.wrap {
    overflow: hidden;
    align-items: center;
    align-content: center;
    overflow: hidden;
    margin: 0 40px;
    padding: 20px 0;
    position: relative;
    width: auto;
    min-height: 640px;
    min-width: 500px;
}

.explanation {
    width: 410px;
    font-size: 20pt;
    display: inline-block;
}

.margin-l25-tu20{
    margin-top: -20px;
    margin-left: 25px;
    text-align: left;
}

div>div>img{
    margin-left: -160px;
    padding: 112px 0 16px;
    width:60%;
}

.input-display {
    width:400px;
    padding-left:20px;
    display: inline-block;
    vertical-align: top;
}

.input-form{
    float: right;
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    box-sizing: border-box;
    margin: 40px 0 0;
    padding: 20px 10px 28px;
    width: 396px;
}

.input-text {
    background: #FFFFFF url(/rsrc.php/v3/yU/r/O7nelmd9XSI.png) repeat-x;
    border: 1px solid #dddfe2;
    color: #1d2129;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 22px;
    line-height: 16px;
    padding: 0 8px;
    vertical-align: middle;
    font-size: 17px;
    padding: 14px 16px;
    width: 330px;
    border-radius: 6px;
    margin:5px;
}

input[type=button]{
    border: none;
    color: #fff;
    border-radius: 6px;
    line-height: 48px;
    padding: 0 16px;
}

.input-login {
    background-color: #1877f2;
    font-size: 20px;
    width: 364px;
    margin-left:5px;
}

.input-new{
    background-color: #42b72a;
    font-size: 17px;
    margin-top: 30px;
}

a{
    color: #1877f2;
    font-size: 14px;
    font-weight: 500;
}

.margin-text-align{
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.line{
    border-bottom: 1px solid #aaa;
}

.div-text{
    margin-top: 408px;
    text-align: center;
}

.p-text{
    white-space: pre-line;
    margin-top: 28px;
    text-align: center;
    border-top: none;
    color: #1c1e21;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding-top: 0;
}

.footer{
    background-color: #fff;
    color: #737373;
    width: auto;
    font-size: 12px;
    min-height: 140px;
    padding-top: 8px;
    text-align: left;
}

ul{
    text-align: left;
    list-style: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
ul>li {
    display: inline-block;
    margin-left:30px;
}